/* *{
  
  box-sizing: border-box;
} */
html,
body{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
.App {
  display: flex;
  height: auto;
  width: 100%;
  background: #fff;
  
}